.popup__container-title {
  margin: 34px 36px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

@media screen and (max-width: 800px) {
  .popup__container-title {
    max-width: 282px;
    margin: 25px 22px;
    font-size: 18px;
  }
}
