.profile__button-edit {
  margin-bottom: 8px;
  height: 24px;
  width: 24px;
  align-self: end;
  background-color: transparent;
  background-image: url(../../../images/edit_button.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__button-edit {
    height: 18px;
    width: 18px;
  }
}
