.popup__container {
  margin: auto;
  width: 430px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  position: fixed;
}

@media screen and (max-width: 800px) {
  .popup__container {
    max-width: 282px;
  }
}
