.profile {
  margin: 0 auto;
  align-items: center;
  padding-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 120px max-content auto;
}

@media screen and (max-width: 800px) {
  .profile {
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: 282px;
    justify-content: center;
    justify-items: center;
  }
}
