.profile__button-add {
  width: 150px;
  height: 50px;
  justify-self: end;
  background-color: transparent;
  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  border: 2px solid #fff;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .profile__button-add {
    width: 282px;
  }
}
