.profile__name-description {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 800px) {
    .profile__name-description {
        text-align: center;
        font-size: 14px;
        font-style: normal;
        line-height: normal;
    }
  }