.footer {
  margin: 0 auto;
  max-width: 880px;
  padding: 67px 0 60px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 48px 0 36px;
    width: calc(100% - 38px);
  }
}
