.element__button-like {
  background-image: url("../../../images/like.svg");
  background-repeat: no-repeat;
  display: block;
  background-position: center;
  background-size: cover;
  width: 22px;
  height: 19px;
  border: none;
  background-color: unset;
  cursor: pointer;
  transition: opacity 0.8s;
}

.element__button-like:hover {
  transform: scale(1.2);
  opacity: 0.5;
}
